.menu {
    width: 100%;
    clear: both;
}

.menu__list {
    list-style: none;
}

.menu__item {
    display: inline-block;
    padding: 0.5em 1em;
    text-transform: uppercase;
    font-family: Arial;
}

.menu__item_active a {
    text-decoration: none;
    color: black;
}